.BtnShine {
    position: relative;
    margin: 0;
    padding: 5px 12px;
    height: 60px;
    width: 220px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    font-weight: 500;
    font-family: lato;
    z-index: 0;
    overflow: hidden;
    border: 3px solid #fff;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);

    span {
        color: #fff;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 1px;

        @media screen and (max-width:800px) {
            font-size: 0.8rem;
        }
    }

    &:hover {
        animation: rotate 0.7s ease-in-out both;

        span {
            animation: storm 0.7s ease-in-out both;
            animation-delay: 0.06s;
        }
    }

    @media screen and (max-width:800px) {
        height: 40px;
        width: 150px;
    }

    @media screen and (max-width:481px) {
        height: 45px;
        width: 160px;
        border: 1px solid #fff;
    }
}


.BtnShine {
    overflow: hidden;
    position: relative;

    span {
        z-index: 20;
    }

    &:after {
        background: #eeeeee;
        content: "";
        height: 155px;
        left: -75px;
        opacity: .4;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: -10;
    }

    &:hover {
        &:after {
            left: 120%;
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        }
    }
}