.DrawerToggle {
    position: absolute;
    right: 0;
    cursor: pointer;
    margin-top: 10px;
    z-index: 1000;

    .center {
        transform: translate(-50%, -50%);
        width: 50px;

        &:before,
        &:after,
        & div {
            background: #fff;
            content: "";
            display: block;
            height: 3px;
            border-radius: 3px;
            margin: 5px 0;
            transition: 0.5s;
        }

        &.active:before {
            transform: translateY(9px) rotate(135deg);
        }

        &.active:after {
            transform: translateY(-9px) rotate(-135deg);
        }

        &.active div {
            transform: scale(0);
        }

        @media screen and (max-width:481px) {

            &:before,
            &:after,
            & div {
                height: 2px;
            }
        }
    }

    @media (min-width: 800px) {
        display: none;
    }

}