.heroSection {
    text-align: center;
    position: relative;
    max-height: 80vh;
    overflow: hidden;
    background: #fff;

    video {
        object-fit: cover;
        width: 100%;
    }

    .heroContent {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 38%;

        .scrollDown {
            position: relative;
            top: 2vh;
            color: #fff;
        }

        .Icon {
            animation: bounce .5s infinite alternate;
            cursor: pointer;
        }

        @keyframes bounce {
            to {
                transform: translateY(-10px);
            }
        }
    }

    @media screen and (max-width:481px) {
        height: 60vh;

        video {
            height: 60vh;
        }

        .heroContent {
            top: 38%;
        }
    }
}

.animation {
    @media screen and (max-width:1200px) {
        font-size: 32px;
        margin-bottom: 30px;
    }

    @media screen and (max-width:800px) {
        font-size: 22px;
        margin-bottom: 20px;
    }

    @media screen and (max-width:481px) {
        font-size: 18px;
        margin-bottom: 25px;
    }

    @media screen and (max-width:320px) {
        font-size: 14px;
        margin-bottom: 15px;
    }

    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: Helvetica,
    Arial,
    sans-serif;
    font-size: 52px;
    letter-spacing: 1px;
    color: #fff;
    display: inline-block;
    animation: fadeIn 1.5s forwards;
    opacity: 0;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.first {
    display: inline-block;
    animation: firstSpan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
    font-weight: 100;
    z-index: 1;
    position: relative;

    @media screen and (max-width:481px) {
        font-weight: 500;
    }
}

.oh {
    display: inline-flex;
    overflow: hidden;
    margin-left: 10px;

    @media screen and (max-width:481px) {
        margin-left: 2px;
    }
}

.second {
    animation: secondSpan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
    font-weight: 600;
    z-index: -1;
    color: #c00c00;
    display: inline-block;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes firstSpan {
    0% {
        transform: translateX(50%);
    }

    60% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes secondSpan {
    0% {
        transform: translateX(-100%);
    }

    60% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(-0%);
    }
}

.FeaturesSection {
    text-align: center;
    padding: 5% 5% 5%;

    .Features {
        margin-top: 150px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: center;

        @media screen and (max-width:1200px) {
            margin-top: 100px;
        }

        @media screen and (max-width:768px) {
            margin-top: 80px;
        }

        @media screen and (max-width:481px) {
            margin-top: 50px;
        }

        ul {
            display: grid;
            grid-template-columns: 500px 500px;
            grid-row: auto auto;
            grid-column-gap: 50px;
            grid-row-gap: 50px;
        }

        @media screen and (max-width:1200px) {

            ul {
                grid-template-columns: 500px;
                grid-row: auto;
            }
        }

        img {
            float: right;
        }

    }

    h1 {
        font-size: calc(10px + 2.2vw);
        margin-bottom: 50px;
        animation: fadeIn 2.5s;
        -webkit-animation: fadeIn 2.5s;
        -moz-animation: fadeIn 2.5s;
        -o-animation: fadeIn 2.5s;
        -ms-animation: fadeIn 2.5s;

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        @media screen and (max-width:1000px) {
            margin-bottom: 0;
        }
    }

}

.HowItWorksSection {
    padding: 5% 5% 5%;
    text-align: center;
    background-color: #222831;
    border-bottom: 1px solid rgb(80, 80, 80);

    h1 {
        color: #fff
    }

    .Working {
        width: 1100px;
        margin: 150px auto;

        @media screen and (max-width:1200px) {
            width: 700px;
            margin: 100px auto;
        }

        @media screen and (max-width:768px) {
            width: 350px;
            margin: 80px auto;
        }

        @media screen and (max-width:481px) {
            width: 300px;
            margin: 50px auto;
        }

        p {
            border-top: 2px dashed;
            border-color: #fff !important;
            color: #fff;
            margin: 0;
            padding: 30px;
            counter-increment: section;
            position: relative;
            font-size: calc(10px + 1vw);
        }



        p:nth-child(even):before {
            font-size: 30px;
            content: counter(section);
            right: 100%;
            margin-right: -20px;
            position: absolute;
            border-radius: 50%;
            padding: 10px;
            height: 40px;
            width: 40px;
            background-color: #fff;
            text-align: center;
            color: #222831;
        }

        p:nth-child(odd):before {
            content: counter(section);
            left: 100%;
            margin-left: -20px;
            position: absolute;
            border-radius: 50%;
            padding: 10px;
            font-size: 30px;
            height: 40px;
            width: 40px;
            background-color: #fff;
            text-align: center;
            color: #222831;
        }



        p:nth-child(even) {
            border-left: 2px dashed;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            margin-right: 30px;
            padding-right: 0;
        }

        p:nth-child(odd) {
            border-right: 2px dashed;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            margin-left: 30px;
            padding-left: 0;
        }

        p:first-child {
            border-top: 0;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }

        p:last-child {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    h1 {
        font-size: calc(16px + 2.2vw);

        @media screen and (max-width:481px) {
            margin-bottom: 0px;
        }
    }
}