.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .card {
        margin: 50px;
        padding: 20px 30px;
        background: #F8F5E4;
        border-radius: 10px;
        box-shadow: -6px -6px 20px rgba(255, 255, 255, 1), 6px 6px 20px rgba(0, 0, 0, 0.1);

        &:hover {
            box-shadow: inset -6px -6px 20px rgba(255, 255, 255, 0.5), inset 6px 6px 20px rgba(0, 0, 0, 0.1);
        }

        .imgBx {
            position: relative;
            text-align: center;

            img {
                max-width: 100%;
            }
        }
    }

    .contentBx {
        position: relative;
        margin-top: 10px;
        text-align: center;

        h2 {
            color: #B49900;
            font-weight: 700;
            font-size: 1em;
            letter-spacing: 2px;
        }

        h3 {
            color: #888;
            font-weight: 400;
            font-size: 0.7em;
            letter-spacing: 2px;
        }

        p {
            color: #BDAA42;
        }

        a {
            display: inline-block;
            padding: 20px 30px;
            margin: 25px;
            border-radius: 10px;
            color: #BDAA42;
            font-size: 14px;
            text-decoration: none;
            box-shadow: -4px -4px 15px rgba(255, 255, 255, 1), 4px 4px 15px rgba(0, 0, 0, 0.1);

            &:hover {
                box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.5), inset 4px 4px 10px rgba(0, 0, 0, 0.1);
            }

            span {
                display: block;
                transform: scale(0.98);
            }
        }
    }
}

.container .card:hover .imgBx,
.container .card:hover .contentBx {
    transform: scale(0.98);
}